/* Close icon*/
a.close-button::after {
    content: none;
}
 /*Luminosity issues*/
.inline-video-container a:focus span{
    outline: 1px solid #1e90ff;  
}
/*super script focus*/
.main-content a.supLink:focus {
    outline: 2px dashed #000;
    display: inline;
}
.main-content sup:focus {
    outline: 2px dashed #000;
}
.main-content p.caption:focus {
    outline: 2px dashed #000;
}
/*end*/
/* global hidden class*/
.visually-hidden {
border: 0; 
clip: rect(0 0 0 0); 
height: 1px; 
margin: -1px; 
overflow: hidden; 
padding: 0; 
position: absolute;
width: 1px; 
} 

/* end of global hidden class*/
.bg-grey-ec{background-color: #EDEDED;}/*Exactly matches 4.5:1*/
.bg-coolgrey {background-color: #EFEFEF;}
.bg-grey-d2.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.bg-grey-E1.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.cp-three-columns-with-copy.light-background .column .col-content p{color:#626262;}/*tried bg till #ffffff but doesnot fix*/
.cp-three-columns-with-copy p.top-sub-headline{color:#626262;}
.cp-table-list #table_container table:nth-child(1) th.show-border{color:#626262;}
.cp-table-list #table_container table tr td a.red{color:#D90000;}

/* Removed this for fixing the color-contrast-ratio issue 
.cp-five-columns-with-copy.light-background .col-content p {color: #646782;}
*/
.bg-grey-E1{background-color: #E9E9E9;}
.sql-five-pillar-overlay-content-1.bg-coolgrey{background-color: #eee;}
.social-popup-share a:focus{outline: 1px dotted #000;}
/*.sql-RightNavTab .main-class.light-background .sql-lefttab .sql-accordion-tab-list .tab-item .texting, .sql-RightNavTab .main-class.light-background .accordion-heading .texting{opacity:0.6;}*/

/* Bug 339337 Sql Luminosity ratio bug fix */
#CP_FiveColumnsWithCopy_1 a.c-hyperlink{color:#0067b8 !important;}
/*end of Luminosity issues*/




/*2411*/
.carousel-navigation picture img.carousel-button:focus{outline:1px dashed #000;}
.c-carousel.f-multi-slide button.c-flipper{opacity: .8;}

.c-carousel.f-multi-slide button.c-flipper:focus{outline:1px dashed #000;}
/*3415*/
.cp-five-columns-with-copy .c-carousel .c-sequence-indicator{position: absolute;}
.c-carousel.f-multi-slide:hover .c-flipper:focus{outline:1px dashed #000;}


/*2586 bug start */

/*.accordion .accordion-container .bg-down-arrow-white {background-image: none;}
.accordion .accordion-container .bg-right-arrow-white { background-image: none;}
.accordion .accordion-container .imageIcon {    position: absolute; padding: 10px 3.25%; display: none; } */

/*2586 bug End*/
/*2427 bug*/
#CP_MediaCarouselWithFrames_1 .c-sequence-indicator{margin-bottom:2px;}
/*h tag margin and padding issues */
#CP_TopImage1ColWithCopy_1 h1.h3 {margin-bottom: 12.5px;}
/*h tag margin and padding issues end */


/*2647 */
#SQL_HerocarouselWithButtons_1 h4.body.override-mwf{font-size:16px;}
#SQL_HerocarouselWithButtons_1 .override-text-padding{width:100%;}
.CP-link-list h3{padding-top: 15px !important;}
#CP_TopImage2ColWithCopy_1 .body-tight-2{padding:0px;}
#CP_TopImage1ColWithCopy_1 h4.h4{margin:0px;}
/*2647 */
.main-content .staticmenu.dark-background .slick-slider .slick-prev:before{content:none !important;}
.main-content .staticmenu.dark-background .slick-slider .slick-next:before{content:none !important;}
h6.fw-6,.five-reasons-container h2.fw-6{font-weight: 600;}

/*Bug number2528*/
.CP-link-list h6 {
    padding-top: 15px !important;
}

/* 2577 */
.static-support-links-1 a:focus span,.static-support-links-2 a:focus span,.static-support-links-3 a:focus span {
    border: 1px dashed #000;}
    #CP_StaticMenu .high-contrast-wt{display: none;}
.slick-slider button:focus{outline:1px dashed #000;}
.light-background .slick-slider button:focus{outline:1px dashed #fff;}
.slickcarousel .btn-dark:focus{outline:1px dashed #fff;}
.slickcarousel .btn-light:focus{outline:1px dashed #000;}
.slickcarousel .btn-dark button:focus{outline:1px dashed #fff;}
.slickcarousel .btn-light button:focus{outline:1px dashed #000;}
.light-background .slick-dots button:focus{outline:1px dashed #000;}

/*bug 2414 converted p to h3 tag*/
.cp-top-image-col1-copy .h3
{
    margin-bottom:0px;
}


.cp-footer a.mscom-link.white-color-btn:focus{color: #fff; background-color: #0060ac;}
.cortana-6tabs .inner-menu-ul li {padding-top:2px;padding-bottom:2px;padding-left:2px;}
.cortana-6tabs .main-menu-ul li {padding-top:1px;padding-bottom:1px;padding-left:1px;}
.cortana-6tabs .inner-menu-ul li a:focus{outline : 2px dashed #000;outline-offset: 0px;}
.cortana-6tabs .main-menu-ul li a:focus{outline : 2px dashed #fff;outline-offset: 0px;}

/* bug 3424 */

#CP_PricingTable_1 #table_container{
    padding-top: 35px; 
    /*padding-bottom: 35px;*/
    }
#terms_and_conditions_PricingTable_2{padding-bottom: 35px;}    
@media screen and (max-width: 539px){
div.mobile-light-background a.c-call-to-action.theme-transparent:focus{
outline: 1px dashed #000;}
#CP_PricingTable_1 #table_container .hide-by-default.show-row{display: table-row}

.CP_accordion-container .accordion-area h2{padding-bottom:3px; padding-left: 24px; letter-spacing: -0.46px;}
.CP_accordion-container .accordion-area h1 p{ padding-left: 0px;}
.CP_accordion-container .accordion-area .accordion-main-panel a.show-row{display: block !important;}
.mainaccordionpanel .Table-content table th{  padding: 15px 20px; vertical-align: middle;}
.mainaccordionpanel .Table-content table td{  padding: 15px 20px; vertical-align: middle;}
#table_container table tr{height: 65px;}
#sql-image-tab-carousel .carousel-nav:focus{outline:1px dashed #fff;}
#sql-image-tab-carousel .c-call-to-action:focus{outline:1px dashed #fff;}
.dark-background a.c-call-to-action:focus, .theme-dark a.c-call-to-action:focus{outline: #000 dashed 1px;}
}
/* End 3424 */

 /* All high contrast styling rules */
@media screen and (-ms-high-contrast: active) {
 .c-sequence-indicator button[aria-checked='true']{
     color:#00009F;
     background-color:#00009F;
 }
 #CP_ThreeBGImagesWithCopy .c-mosaic-placement img{display:block !important;}
 
}

  @media screen and (max-width:900px){
    .CP_AccordionWithTable .terms_and_conditions fieldset{padding-left:10px; padding-right: 10px;}
     }

.CP_AccordionWithTable .terms_and_conditions fieldset{
display:inline-block;
padding-bottom:20px;
}
/*2586 updated bug fix Start*/

@media screen and (-ms-high-contrast: white-on-black) {
/*black*/ 
/*.cp-sticky-nav .tab .tab-menu[data-active="true"], .cp-sticky-nav .tab .tab-menu:hover{
    color: yellow;
    border-bottom: 4px solid yellow;
}*/
/*sravan*/
.cortana-6tabs .main-menu-ul li.current .arrow-up{
    visibility: visible;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
#CP_AccordionWithTable .c-paragraph-3 a.c-hyperlink:focus{outline:1px solid yellow;}
.cp-side-media-with-copy .display-table-cell a.c-hyperlink{outline: none !important; text-decoration: none !important;}
.cp-side-media-with-copy .display-table-cell a.c-hyperlink:focus{outline:1px solid yellow !important;}

#CP_Hero_1Col_1_1 .hero-content a.c-call-to-action:not(.theme-transparent):focus{
     border: 2px dashed currentColor !important;
 }
.main-content div a.c-call-to-action:not(.theme-transparent):focus{
     border: 2px dashed currentColor !important;
 }

/*Bug 340694*/
.cp-side-media-with-copy .display-table-cell a{outline: none !important; text-decoration: none !important;}
.cp-side-media-with-copy .display-table-cell a:focus{outline:1px solid white !important;}

.cp-sticky-nav .tab .tab-menu[data-active="false"]{
    color: yellow !important;
    border-bottom: none !important;
}
.accordion .accordion-container .bg-down-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUU?ver=1f24');
}
.accordion .accordion-container .bg-right-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7l?ver=641c');
}
/*Accessibility bug-339176-SQL Server Training certification_Issues.xlsx*/
.main-content #CP_MediaCarouselWithFrames_1 .carousel-with-frames .carousel-group .carousel-frame .carousel-content a:focus{
outline:3px dotted #fff !important;
}
.CP_AccordionWithTable.light-background .accordion-area .accordion-heading.bg-down-arrow-black p:after {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW83xr?ver=35b8');
    position: absolute;
    right: 15px;
}
.CP_AccordionWithTable.light-background .accordion-area .accordion-heading.bg-right-arrow-black p:after {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW7NXE?ver=1ac6');
    position: absolute;
    right: 15px;
}
/* to be updated image */
.sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-next{
background-image: url(//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW83BF?ver=0da6);
}
.sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-prev{
background-image: url(//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW7Yns?ver=a92a);
    width:30px !important;
    margin-right: 5px;
    
}
.main-content .hero-carousel ul.slick-dots li:hover button:before{
    background-color: #fff;
}
.main-content .cp_media_carousel_with_responsive .slick-dots li.slick-active button:before{
    background-color: #fff;

}
.main-content .cp_media_carousel_with_responsive ul.slick-dots li.slick-active button:before{
    background-color: #fff;
}
.cp-multiple-leftmediawithcopy .video-select.c-select .category-selector:focus, .cp-multiple-leftmediawithcopy .video-select.c-select .audience-selector:focus{
    outline:1px solid #ffffff;
}
/* to be updated image */
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .slick-dots li.slick-active button:before{
    color:#ffffff;
   
}
#CP_SideImageWithCopy_1 .left-text .left-content ul a{
outline:none !important;
}
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .carousel-wrapper .video-poster-link:focus{
    border: 1px dashed #ffffff;
}
/*bug 341222*/ 
[class^=c-paragraph] a.c-hyperlink, [class^=c-caption] a.c-hyperlink{
text-decoration: none !important;
}
[class^=c-paragraph] a.c-hyperlink:focus, [class^=c-caption] a.c-hyperlink:focus{
text-decoration: underline !important;
} 
/*Start SQL_MWFHeroCarousel*/
.sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
	border: none;
	outline: none;
}

.sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor;
	outline: 1px dashed currentColor;
}
 /*End SQL_MWFHeroCarousel*/
.high-contrast .CP_AccordionWithTable .accordion-area .accordion-heading.bg-down-arrow-black span:after{
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RERffx') !important;
}


.high-contrast .CP_AccordionWithTable .accordion-area .accordion-heading.bg-right-arrow-black span:after{
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/REV6Ah') !important;
}
}
/*white*/
@media screen and (-ms-high-contrast: black-on-white) {
    /*sravan*/
    .cortana-6tabs .main-menu-ul li.current .arrow-up{
    visibility: visible;
    border-bottom: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
 #CP_Hero_1Col_1_1 .hero-content a.c-call-to-action:not(.theme-transparent):focus{
     border: 2px dashed currentColor !important;
 }
 /*346171*/
 .m-social > ul > li > a::before {
    background: none !important;
}
/*end*/
.main-content div a.c-call-to-action:not(.theme-transparent):focus{
     border: 2px dashed currentColor !important;
 }
    .cp-side-media-with-copy .display-table-cell a.c-hyperlink{outline: none !important; text-decoration: none !important;}
    .cp-side-media-with-copy .display-table-cell a.c-hyperlink:focus{outline:1px solid blue !important;}
   /*bug 340694*/ 
    .cp-side-media-with-copy .display-table-cell a{outline: none !important; text-decoration: none !important;}
    .cp-side-media-with-copy .display-table-cell a:focus{outline:1px solid black !important;}
    
#CP_AccordionWithTable .c-paragraph-3 a.c-hyperlink:focus{outline:1px solid black;}
 .CP_AccordionWithTable .accordion-container .accordion-header:focus{
         outline: 2px dashed #000;
}
.accordion .accordion-container .bg-down-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE16qYA?ver=5bc8');
}
.accordion .accordion-container .bg-right-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE16bn1?ver=f0e3');
}
#CP_StaticMenu .slick-arrow img{display: none;}
#CP_StaticMenu .slick-arrow img.high-contrast-wt{display: block;height: 24px;}
/*Accessibility bug-339176-SQL Server Training certification_Issues.xlsx*/
.main-content #CP_MediaCarouselWithFrames_1 .carousel-with-frames .carousel-group .carousel-frame .carousel-content a:focus{
outline:3px dotted #000 !important;
}
.CP_AccordionWithTable.light-background .accordion-area .accordion-heading.bg-down-arrow-black p:after {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW83xr?ver=35b8');
    position: absolute;
    right: 15px;
}
.CP_AccordionWithTable.light-background .accordion-area .accordion-heading.bg-right-arrow-black p:after {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW83xp?ver=365d');
    position: absolute;
    right: 15px;
}
/* to be updated image */
.sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-next{
background-image: url(//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW7QxB?ver=20e6);
}
.sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-prev{
background-image: url(//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW7QxC?ver=ef75);
width:30px !important;
margin-right: 5px;
} 

.main-content .cp_media_carousel_with_responsive ul.slick-dots li:hover button:before{
    background-color: #000;
}

.main-content .cp_media_carousel_with_responsive ul.slick-dots li.slick-active button:before{
    background-color: #000;
}
.main-content .hero-carousel-with-button .slick-dots li button:before {
     border: 1px solid rgba(255,255,255,.8);
    
}

.cp-multiple-leftmediawithcopy .video-select.c-select .category-selector:focus, .cp-multiple-leftmediawithcopy .video-select.c-select .audience-selector:focus{
    outline:1px solid #000000;
}
/* to be updated image */
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .slick-dots li.slick-active button:before{
    color: #000;
    
}
#CP_SideImageWithCopy_1 .left-text .left-content ul a{
outline:none !important;
}
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .carousel-wrapper .video-poster-link:focus{
    border: 1px dashed #000000;
}
/*bug 341222*/ 
[class^=c-paragraph] a.c-hyperlink, [class^=c-caption] a.c-hyperlink{
text-decoration: none !important;
} 
[class^=c-paragraph] a.c-hyperlink:focus, [class^=c-caption] a.c-hyperlink:focus{
text-decoration: underline !important;
} 
/*srikanth 341664*/
.cp-sticky-nav .tab-menu{
    border-bottom: 0px ;
} 
.fixed-support-links .support-links-logo {
    background: black
}
.fixed-support-links .image-holder {
    background: black
}
#CP_HerocarouselWithButtons_1 .dark-background .text-content h1,#CP_HerocarouselWithButtons_1 .dark-background .text-content h2,#CP_HerocarouselWithButtons_1 .dark-background .text-content p{
 background-color:#fff !important;
}
/*#CP_HerocarouselWithButtons_1 .light-background .text-content h1,#CP_HerocarouselWithButtons_1 .light-background .text-content h2,#CP_HerocarouselWithButtons_1 .light-background .text-content p{
 background-color:#000 !important;
}*/
/*343886*/
#CP_Hero_1Col_1_1.dark-background .hero-content h1,#CP_Hero_1Col_1_1.dark-background .hero-content h2,#CP_Hero_1Col_1_1.dark-background .hero-content p,#CP_Hero_1Col_1_1.dark-background .hero-content,#CP_Hero_1Col_2_1.dark-background .hero-content {
 background-color:#fff !important;
}
#CP_HeroCarouselWithCopy_1 .theme-dark .text-content h1, #CP_HeroCarouselWithCopy_1 .theme-dark .text-content h2,#CP_HeroCarouselWithCopy_1 .theme-dark .text-content p{
  background-color:#fff !important;
}
.CP_BGImgWithCopyAndButtons.dark-background .heroContent{
     background-color:#fff !important;
}
 /*Start SQL_MWFHeroCarousel*/
.sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
	border: none;
	outline: none;
}

.sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor;
	outline: 1px dashed currentColor;
}
 /*End SQL_MWFHeroCarousel*/

}

/*2586 updated bug fix End*/

@media only screen and (max-width: 540px), (-ms-high-contrast: black-on-white) {    
    
.sql-RightNavTab .main-class.light-background .accordion-main-panel .accordion-heading.bg-right-arrow-black:after{
content : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE163yW?ver=791b');
}
.sql-RightNavTab .main-class.light-background .accordion-main-panel .accordion-heading.bg-down-arrow-black:after{
content : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE16qYA?ver=5bc8');
}

}


@media only screen and (max-width: 540px) and (-ms-high-contrast: white-on-black) {    
    
.sql-RightNavTab .main-class.light-background .accordion-main-panel .accordion-heading.bg-right-arrow-black:after{
content : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RERffy?ver=1db5');
}
.sql-RightNavTab .main-class.light-background .accordion-main-panel .accordion-heading.bg-down-arrow-black:after{
content : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RERffx?ver=1653');
}

}


.backtop-tooltip{
    display: none;
}

.static-tooltip,.static-tooltip2,.popup-tooltip,.popup-tooltip2{
    display: none;
}
.popup-tooltip.focustooltip{
    right: 9.5%;
    bottom: 2.5%;
    left: 82% !important;
    text-align: center;
}
.popup-tooltip2.focustooltip2{
    right: -37px;
    bottom: 2.5%;
    left: 97% !important;
    text-align: center;
}

.static-tooltip.focustitle{
    left: -30px !important;
    top: -18px;
}
.static-tooltip2.focustitle2{
    left: -55px !important;
    bottom:  -20px;
}
@media screen and (min-width:683px) and (max-width:683px){
    .static-tooltip.focustitle{
    left: -75px !important;    
}
.static-tooltip2.focustitle2{
    left: -95px !important;    
}

.popup-tooltip.focustooltip{
    right: 20% !important;
    left: 64% !important;
    bottom: 21px !important;
}
.popup-tooltip2.focustooltip2{
    left: 93% !important;
    bottom: 21px !important;
    right: -7% !important;
}
}
@media screen and (min-width:540px) and (max-width:1100px){
    .static-tooltip.focustitle{
    left: -75px !important;
    
}
.static-tooltip2.focustitle2{
    left: -95px !important;
    
}
}
.c-back-to-top:hover .backtop-tooltip,
.c-back-to-top:active .backtop-tooltip,
.c-back-to-top:focus .backtop-tooltip,
.static-tooltip.focustitle,
.static-tooltip2.focustitle2,
.popup-tooltip.focustooltip,
.popup-tooltip2.focustooltip2{
     display: block;
    border: #000 1px solid;
    font-size: 11px;
    padding: 0px 3px 0px 2px;
    z-index: 100;
    background-color: #fff;
    width: auto;
    white-space: nowrap;
    position: absolute;
    text-decoration: none;
    color: #000;
    left: -6px;
    }
    
 /*346171*/
 .m-social > ul > li > a::before {
    background: none !important;
}
/*end*/

/*luminosity start*/

#CP_SideMediaWithCopy_1_2 .bg-6DC2E9 a{color:#004A85;}
#CP_SideMediaWithCopy_2_6 .bg-6DC2E9 a{color:#004A85;}
/*.high-contrast #CP_ThreeBGImagesWithCopy picture img{visibility:hidden;}*/
.cp-accordion-with-tabs .white-tablist ul.tab-list li.tab-active{background-color:#E4E4E4;}
.cp_leftNavTab .white-tablist li.tab-active{background-color:#f5f5f5;}
.cp_leftNavTab .white-tablist li.tab-active .cyan-72C6{color:#0060AC;}
.image-tabs .bg-coolgrey .tabs.active h5.icontext{color:#006CC1;}
a.c-call-to-action.bg-blue-text:focus{background-color: #fff;}
.bg-grey-d2.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.bg-grey-E1.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.cp-three-columns-with-copy.light-background .column .col-content p{color:#626262;}/*tried bg till #ffffff but doesnot fix*/
.cp-three-columns-with-copy p.top-sub-headline{color:#626262;}
.cp-table-list #table_container table:nth-child(1) th.show-border{color:#626262;}
.cp-table-list #table_container table tr td a.red{color:#D90000;}
/*Accsecibility Fixes*/
#CP_HeroCarouselWithCopy_2 .slickcarousel .btn-dark:focus{outline: 1px dashed #000 !important;}
#CP_HeroCarouselWithCopy_2 .slickcarousel .btn-dark button:focus{outline: 1px dashed #000 !important;}
.bg-coolgrey{
background-color: #efefef;
}
#CP_Table_5Col_1 .bg-coolgrey a{color:#006CC1;}
#CP_Hero_1Col_1_1.light-background a.theme-transparent{color:#006CC1;}
.bg-grey-DF,.bg-whitesmoke{background-color:#efefef;}
.bg-whitesmoke .blue-text{color:#006CC1;}
.bg-whitesmoke a.c-call-to-action.theme-transparent,.bg-grey-DF a.c-call-to-action.theme-transparent{color:#006CC1 !important;}

.bg-grey-d2{
    background-color: #e4e4e4;
}
.blue-text{color:#006CC1;}
.bg-grey-d2 a.c-call-to-action.theme-transparent{
   color: #0060ac;
}
.bg-cyan-300{
background-color: #006CC1;
}
.bg-grey-ec{
background-color: #EDEDED;
}
.panel-popup .close-button{width:20px; height:20px;}
.bg-grey-ec a.c-call-to-action{
   color: #0060ac;
}
.bg-coolgrey{
background-color: #efefef;
}
.bg-grey-DF,.bg-whitesmoke{background-color:#efefef;}
.bg-whitesmoke .blue-text{color:#006CC1;}
.bg-whitesmoke a.c-call-to-action.theme-transparent,.bg-grey-DF a.c-call-to-action.theme-transparent{color:#006CC1 !important;}
.bg-coolgrey a.c-call-to-action.theme-transparent{color:#005496 !important;}
.bg-grey-d2{
    background-color: #e4e4e4;
}
.bg-grey-d2 a.c-hyperlink.theme-transparent{
   color: #0060ac;
}

.bg-cyan-300{
background-color: #006CC1;
}
.bg-grey-ec{
background-color: #EDEDED;
}
.bg-grey-ec a.c-call-to-action.theme-transparent{
   color: #0060ac;
}

.thumbnail-list .bg-blackgrey-7{color: #000000;}

.dark-background a.c-call-to-action.theme-transparent{color:#fff !important;}

.bg-grey-E1 .top-image-2column-with-copyv1 a.mscom-link.theme-transparent{color: #005496;}

/*End Accsecibility Fixes*/

/*.main-content .hero-carousel-with-button .theme-dark a.mscom-link.c-call-to-action:focus{outline:1px dashed #fff;}*/
/* 3898 Start*/
#CP_Multiple_LeftMediaWithCopy_1 a.open-popup-video:focus{border: 2px solid #000;outline: none;}
#CP_HeroCarouselWithCopy_1 .hero-carousel-slides a.open-inline-video:focus{outline: 2px dashed #999;}
/* 3898 End*/

/* 3904 Start*/
/*.sql-RightNavTab .main-class.light-background .sql-lefttab .sql-accordion-tab-list .tab-item .texting{
opacity: .9;
}*/

/*.sql-RightNavTab .sql-lefttab .sql-accordion-tab-list .tab-item.active .texting{
font-weight: 600;
}*/
/*3904 End*/

/*3293 Start*/
#CP_TopImage2ColWithCopy_1 .bg-coolgrey a.c-hyperlink.theme-transparent{color: #005496 !important;}
/*3293 End*/
/*4015 Start*/
/*.pricing-table-continer a.c-hyperlink {color: #0078D7;}*/
/*4015 End*/


/*4016 Start*/
#CP_StickyNav_1 .cp-sticky-nav-sub .main-tab a.tab-menu{color: #000;}
/*4016 End*/

/*4847 bug fix*/
    #SQL_SideImageWithCopyV1_1_1 .display-table-cell a:focus{
      outline : 1px dashed #fff !important;
    }
#CP_SideImageWithCopy_1 .right-media li.list-item a.mscom-link:focus {outline : 1px dashed #fff !important;}
#CP_SideImageWithCopy_1 .right-media li.list-item a.mscom-link:focus img.fl {outline : 1px dashed #fff}
.sql-image-tab-carousel .carousel-thumbnails a.carousel-thumbnail-item:focus{ outline: 1px dashed #000;}

@media screen and (max-width: 1199px)
{
.cp-five-columns-with-copy .column-image {
    width: 120px;
    height: auto;
}

}


.rtl .main-content #CP_CustomCarousel_1 .slick-slider .active-focus {
    outline: 1px dashed #fff;
}

/*CTA Button Accessibility fix*/
.hero-carousel .text-content .half-text .links a.open-popup-video:focus{
 text-decoration: underline;
}
.hero-carousel .text-content .half-text .links a.theme-dark.c-call-to-action:focus,
.main-content .hero-carousel div .half-text .links a.c-call-to-action.theme-dark:focus:hover:not(.x-hidden-focus){
    background-color: #ccc;
    color: #0078d7;
}
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:focus,
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:focus:hover{
       color: #fff;
    background: #333;    
}
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:focus:hover,
.hero-carousel .text-content .half-text .links a.theme-dark.c-call-to-action:focus:hover,
.hero-carousel .text-content .half-text .links a.theme-default.c-call-to-action:focus:hover{
    border-color:#000;
}
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:hover{
border-color:#333;
}
/*CTA Button Accessibility fix*/

/*srikanth*/
.cp-media-carousel-with-frames .carousel-with-frames .carousel-group .carousel-frame .video-link .open-popup-video:focus{
    outline: dashed 1px black !important;
}

.cp-five-columns-with-copy.bg-coolgrey-5 .col-content a.c-call-to-action.theme-transparent {
    color: #00589C;
}

.CP_BGImgWithCopyAndButtons .heroContent .relative-in-tablet p{
    padding-top: 0px;
}
.CP_BGImgWithCopyAndButtons .heroContent.text-center-for-mobile:not(.content-on-left) a.c-call-to-action{
    margin-top: 4px;
}
/* Marketo form pop width css*/
.page-frame-popup-container.mrkto-width
{
      text-align: center;
      max-width: 400px;       
}
.page-frame-popup-container.mrkto-width #page-frame-iframe {
width: 329px;
}
/*end*/

/* AT bug fixes for sql  */
.high-contrast.mozilla #SQL_HerocarouselWithButtons_1 .theme-dark .text-content,.high-contrast.mozilla #CP_HeroCarouselWithCopy_1 .theme-dark .text-content,.high-contrast.mozilla #CP_Hero_1Col_2_1.dark-background .hero-content,.high-contrast.mozilla #CP_Hero_1Col_1_1.dark-background .hero-content, .high-contrast.mozilla .CP_BGImgWithCopyAndButtons.dark-background .heroContent {
    background: currentColor;
}
/*.high-contrast.mozilla #CP_HeroCarouselWithCopy_1 .theme-dark .text-content h1,
.high-contrast.mozilla #CP_HeroCarouselWithCopy_1 .theme-dark .text-content p,
.high-contrast.mozilla #CP_HeroCarouselWithCopy_1 .theme-dark .text-content .links a, CP_Hero_1Col_2_1{
background: currentColor;
}*/
.mozilla.high-contrast .custom-popup-container .close-button::before {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7m') !important;
    
}
.mozilla.high-contrast .custom-popup-container .close-button{
    top: 9px !important;
    right: 0;
    height: 20px !important;
    width: 22px !important;
}
.mozilla.high-contrast .cp-multiple-leftmediawithcopy .multiple-media-container .video-link .open-popup-video::after {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1MjGS');
    top: 33%;
    left: 38%;
}
.mozilla.high-contrast a.open-popup-video.video-poster-link:after {
    
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1MLXD') !important;
    top: 64% !important;
    left: 0 !important;
    width: 26% !important;
    height: 50% !important;
}
.mozilla.high-contrast .sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-next:before {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1QdkQ');
}
.mozilla.high-contrast .sql-RightNavTab .main-class.light-background .RightNavTab-carousel .jcarousel-control-prev:before {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1QdkN');
}

@media screen and (-ms-high-contrast: black-on-white) {
   .high-contrast .hero-carousel-with-button .slick-dots li.slick-active.theme-dark button::before{
        background-color: #fff !important;
        background: #fff !important;
        color: #fff !important;
    }
     }

@media screen and (-ms-high-contrast: white-on-black) {
     .high-contrast  .hero-carousel-with-button .slick-dots li.slick-active.theme-dark button::before{
        background-color: #fff !important;
        background: #fff !important;
        color: #fff !important;
     }
     .high-contrast .custom-popup-container .close-button{
         background: url(//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE137sB) 12px no-repeat !important;
     }
}

/*346078*/
@media only screen and (min-width: 683px) and (max-width: 683px){
.CP_AccordionWithTable .accordion-area .accordion-main-panel a:focus{margin-left: 2px;margin-right: 2px;}
.cp-sticky-nav .cp-sticky-nav-sub{position: sticky;}
.mozilla .CP_PricingTable_1 table tr td a.mscom-link{
           display: table-row;
 }
}
/*346073*/
.fixed-support-links ul li a:focus span {
    border: 2px dashed #000 !important;
}
@media screen and (-ms-high-contrast: black-on-white){
    .fixed-support-links ul li a:focus span {
    border: 2px dashed yellow !important;
}
}
/*346177*/
.sql-RightNavTab .RightNavTab-carousel .jcarousel-control-prev:focus {
    outline: 2px dashed #000 ;
}

.sql-RightNavTab .RightNavTab-carousel .jcarousel-control-next:focus{
outline: 2px dashed #000 ;
}

.mozilla.high-contrast .cp-sticky-nav .tab-menu:hover,
.mozilla.high-contrast .cp-sticky-nav .tab-menu:active,
.mozilla.high-contrast .cp-sticky-nav .tab-menu[data-active="false"]:hover  {
    color: currentColor;
    border-bottom: 4px solid currentColor;
}  

.mozilla.high-contrast .cp-sticky-nav .tab-menu[data-active="false"]{
    border-bottom:  transparent;
}
/*346284*/
.cp-sticky-nav .cp-sticky-nav-sub .tab a:focus{outline: 2px dashed #000;}
.fixed-support-links a:focus .image-holder{height: 75px;}
.mozilla .fixed-support-links a:focus .image-holder{width: 71px;}

/*346283*/
@media only screen and (max-width: 767px){
  .cp-sticky-nav .cp-sticky-nav-sub .tab.main-tab:focus{border:2px dashed black;outline: none;}
 
}
 .mozilla .cp-sticky-nav .cp-sticky-nav-sub .tab.main-tab:focus{border:2px dashed black;outline: none;}
 
 /*343993*/
 .cp-sticky-nav .tab-menu:focus {
    outline: 2px dashed #000;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media only screen and (min-width: 540px){
    
    .CP_PricingTable_1 .table-with-5col.pricing-table th.main-rowhead{
        font-size:18px;
        line-height: 20px;
        font-weight: 200 ! important;
    }
}
@media only screen and (min-width: 540px) and (max-width: 767px){
    
    .CP_PricingTable_1 .table-with-5col.pricing-table th.main-rowhead{
        font-size:16px;
            }
}
@media only screen and (max-width: 539px) {
.CP_PricingTable_1 .CP_accordion-container td p {
    padding: 0px;
}
.CP_PricingTable_1 .CP_accordion-container table{
border-spacing: 0 5px;
    border-collapse: separate;
    width: 100%;    
}
}
/*Start SQL_MWFHeroCarousel*/
 .mozilla.high-contrast .sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
  border: none !important;
	outline: none !important;
}

.mozilla.high-contrast .sql-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor !important;
	outline: 1px dashed currentColor !important;
}
/*End Start SQL_MWFHeroCarousel*/

/*Start Media-carousel-with-frames UI fixes*/
.cp-media-carousel-with-frames .carousel-frame-shadow + .carousel-content.false_paragraph{
    position: absolute;
    bottom: -140px;
}

.cp-media-carousel-with-frames .carousel-frame-shadow + .carousel-content.true_paragraph{
    position: absolute;
    bottom: -185px;
}

/* .cp-media-carousel-with-frames .carousel-frame .carousel-content:last-child{
    display: none!important;
} */

.cp-media-carousel-with-frames .c-sequence-indicator{
        position: absolute;
        bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 539px){
.cp-media-carousel-with-frames .carousel-group.true_paragraph_group {
    min-height: 425px;
}

.cp-media-carousel-with-frames .carousel-frame-shadow + .carousel-content.true_paragraph{
    position: absolute;
    bottom: -252px !important;
}

.cp-media-carousel-with-frames .carousel-frame-shadow + .carousel-content.false_paragraph{
    position: absolute;
    bottom: -160px;
}
}

/*super script focus - 346135*/
.main-content sup:focus{
    outline: 2px dashed #000;    
}
.main-content a.supLink:focus{
    display: inline;
    outline: 2px dashed #000;
}
/*345650*/
.CP_3Vs4Vs5VsImages_1 .thumbnail-list .thumbnail-item a:focus{ outline: 2px dotted #000;}

.accordion .accordion-container .accordion-main-panel .accordionpanel a.theme-transparent{
    display: inline-block;
}
/*Bug 345357 fix */
    @media only screen and (min-width: 683px) and (max-width: 683px){
    .custom-popup-container {
            height: 36.6vw;
    }
} 

/*345421*/
.high-contrast.mozilla .cp-3bgimagewithcopy .c-mosaic .c-mosaic-placement .section-headline {
    background: currentColor !important;
}
.high-contrast .sql-mwf-hero-carousel .c-carousel .c-sequence-indicator{
    background: currentColor !important;
}
.high-contrast.ie11-browser .sql-mwf-hero-carousel .c-group button.f-toggle:before,
.high-contrast.ie11-browser .sql-mwf-hero-carousel .c-group button.glyph-play:before{
    background: currentColor !important;
}
/*348205*/
#accessible_expand_collapse,
.accordion #accessible_expand_collapse,
.CP_PricingTable_1 #accessible_expand_collapse{
    width: 0;
    height: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}

.cp-pageTitle.sticky-top{
		position: relative;
		width: 100%;
		padding-top: 70px;
}
.cp-sticky-nav .cp-sticky-nav-sub.sticky-fix{
		position: fixed !important;
}
@media screen and (min-width:540px){
.CP_PricingTable_1 .main-table-container .cp_maincontent table.pricing-table{display:table !important;}
}
@media screen and (max-width:540px){
    .mobilePriceTable{display: table;}
}
.high-contrast.ie11-browser .cp-media-carousel-with-frames .carousel-group .carousel-frame .carousel-thumbnail .video-link.black .open-popup-video{
	background: none;
}

.high-contrast.ie11-browser .cp-media-carousel-with-frames .carousel-group .carousel-frame .carousel-thumbnail .video-link.black .open-popup-video + picture + picture img.play-button{
	display: block;
}
/*MAS Report issues*/
a.supLink.anchor_underline {
    color: #0067B8;
}

.CP_PricingTable_1 em.sr-text{
    color: transparent;
}

a.m-back-to-top {
    position: fixed;
}
.device caption.sr-text{
    width: auto;
    clip: auto;
    overflow: visible;
    color: transparent;
    /*position: relative;*/
    display: inline-block;
}

/*row locale AT fixes*/
.high-contrast.ie11-browser .hero-carousel-with-button .hero-carousel-button-slides .text-content h1,
.high-contrast.ie11-browser .hero-carousel-with-button .hero-carousel-button-slides .text-content p,
.high-contrast.ie11-browser .hero-carousel-with-button .hero-carousel-button-slides .text-content h2 {
    background: currentColor;
}

.hero-carousel-with-button.middle .text-content .links ul li {
    display: inline-block;
}

.mozilla .main-content a.c-hyperlink:not(.f-image):focus, .mozilla .main-content a.anchor_underline:focus
{
    border: 2px dashed #000 !important;
    outline: transparent !important;
}