/*hiding H2 element in EMS pricing table*/
.table-caption,.roadmap-final{
  clip: rect(1px 1px 1px 1px);
  height: 0px;
  width: 1px;
  overflow: hidden;
  padding: 0;
 
}
.x-table-reader {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text { 
   clip: rect(1px, 1px, 1px, 1px); 
   height: 1px; 
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
}

/* Mistakenly added hence removed */
/*.main-content .top-image-2column-with-copyv1 .rsc a.theme-transparent{
  padding-top: 15px;
}*/

/*Extra Close icon*/
a.close-button::after {
    content: none;
}
.main-content table tr.bg-cyan-300 .supText a.c-hyperlink:focus {
    outline: 2px dashed #fff !important;
}
.cp-table-5Col .main-table-container .terms_and_conditions .livearea p:focus {outline: 2px dashed #000;}
.main-content p.caption:focus {
    outline: 2px dashed #000 !important;
}

/*High contrast bugs*/
 
#CP_SideMediaWithCopy_1_2 .bg-6DC2E9 a{color:#004A85;}
#CP_SideMediaWithCopy_2_6 .bg-6DC2E9 a{color:#004A85;}
#CP_SideMediaWithCopy_2_2 .bg-6DC2E9 a{color:#002050;}

.high-contrast #CP_ThreeBGImagesWithCopy picture img{visibility:hidden;}
.cp-accordion-with-tabs .white-tablist ul.tab-list li.tab-active{background-color:#E4E4E4;}
.cp_leftNavTab .white-tablist li.tab-active{background-color:#f5f5f5;}
.cp_leftNavTab .white-tablist li.tab-active .cyan-72C6{color:#0060AC;}
.cp_leftNavTab .white-tablist .tab-panel .tab-panel-item .video-panel .open-popup-video:focus{outline:1px dashed #000 !important;}
a.c-call-to-action.bg-blue-text:focus{background-color: #fff;}
.bg-grey-d2.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.bg-grey-E1.light-background a.mscom-link.c-call-to-action.theme-transparent {color :#00579C;}
.cp-three-columns-with-copy.light-background .column .col-content p{color:#626262;}/*tried bg till #ffffff but doesnot fix*/
.cp-three-columns-with-copy p.top-sub-headline{color:#626262;}
.cp-table-list #table_container table:nth-child(1) th.show-border{color:#626262;}
.cp-table-list #table_container table tr td a.red{color:#D90000;}

/* 339823 ImageTabs accessibility issue*/
.image-tabs .bg-coolgrey .tabs.active p.icontext{color:#006CC1;}
.image-tabs .tabs.active p.icontext {color: #0078d7;}
/*339823 ENDS ImageTabs accessibility issue*/
/*Accsecibility Fixes*/
#CP_HeroCarouselWithCopy_2 .slickcarousel .btn-dark:focus{outline: 1px dashed #000 !important;}
#CP_HeroCarouselWithCopy_2 .slickcarousel .btn-dark button:focus{outline: 1px dashed #000 !important;}
.bg-coolgrey{
background-color: #efefef;
}
#CP_Table_5Col_1 .bg-coolgrey a{color:#006CC1;}
#CP_Table_6Col_1 .bg-coolgrey a{color:#006CC1;}
/*Bug 343223 */
.cp-table-4Col .terms_and_conditions:after{
  display:none !important;
}
.cp-pricing-table-v1 div.col-24-24.no-padding.overflow-hidden:after,
.cp-pricing-table-v1 div.ms-row.no-margin:after,
.cp-pricing-table-v1 div.cp-pricing-feature.col-24-24.no-padding:after,
.cp-pricing-table-v1 .cp-product-container.cp-result-container:after,
.cp-pricing-table-v1 div.col-24-24.no-padding.overflow-hidden.x-hidden-focus{
  display:none !important;
}
#CP_Hero_1Col_1_1.light-background a.theme-transparent{color:#004988;}

.bg-grey-DF,.bg-whitesmoke{background-color:#efefef;}
.bg-whitesmoke .blue-text{color:#006CC1;}
.bg-whitesmoke a.c-call-to-action.theme-transparent,.bg-grey-DF a.c-call-to-action.theme-transparent{color:#006CC1 !important;}

.bg-grey-d2{
    background-color: #e4e4e4;
}

a.img-bg-grey{color: #004988 !important;}

.blue-text{color:#006CC1;}
.bg-grey-d2 a.c-call-to-action.theme-transparent{
   color: #0060ac;
}

.gray-bgc a.c-call-to-action.theme-transparent{
   color: #006CC1;
}
#CP_StaticMenu ul li a.active{color: #e5e5e5;}
.staticmenu #static_menu_1 li a.theme-transparent:focus{
  outline: 2px dotted #000000;
}

.bg-cyan-300{
background-color: #006CC1;
}
.bg-grey-ec{
background-color: #EDEDED;
}
.panel-popup .close-button{width:20px; height:20px;}
/*.bg-grey-ec a.c-call-to-action{
   color: #0060ac;
}*/
.bg-coolgrey{
background-color: #efefef;
}
.bg-grey-DF,.bg-whitesmoke{background-color:#efefef;}
.bg-whitesmoke .blue-text{color:#006CC1;}
.bg-whitesmoke a.c-call-to-action.theme-transparent,.bg-grey-DF a.c-call-to-action.theme-transparent{color:#006CC1 !important;}
.bg-coolgrey a.c-call-to-action.theme-transparent{color:#005496 !important;}
.bg-coolgrey-5 a.c-call-to-action.theme-transparent{color:#004880 !important;}
.bg-grey-d2{
    background-color: #e4e4e4;
}
.bg-grey-d2 a.c-call-to-action.theme-transparent, .bg-black235 a.c-call-to-action.theme-transparent{
   color: #0060ac;
}

.bg-cyan-300{
background-color: #006CC1;
}
.bg-grey-ec{
background-color: #EDEDED;
}
.bg-grey-ec a.c-call-to-action.theme-transparent{
   color: #0060ac;
}
.dark-background a.c-call-to-action.theme-transparent{color:#fff !important;}

/*End Accsecibility Fixes*/
/*3269 Start */
#CP_Table_5Col_1 .bg-coolgrey {
    background-color: #eee;
} 

.main-content div p a.no-decoration.text-underline:focus{
  outline: 1px dashed #000;
}
/*3649*/
.filterlinks a:focus,.tryBuyFilter1-drop a:focus{outline: 1px dashed #000;}
/*3649 end*/
/*3565 start*/
#CP_AccordionWithControls_1 .accordion-main-panel .ui-accordion-header:focus{outline:1px dashed #000;}
/*3269 End*/

#CP_SubTab_Nav_1 a:focus{border:2px dashed #000;}
/*bug 3361*/ 
.cp_leftNavTab .tab-list .tab-listitem.tab-active a:focus {outline:2px dotted black !important; }
.cp_leftNavTab .tab-list .tab-listitem a:focus {    outline: 2px dotted #000 !important;}
/*3361 End*/

/*bug 3117*/
a.partner-icon:focus{outline: 2px dashed #000;} 
/*3131*/
.image-tabs .tab-controls .tabs.active:focus{outline:2px dashed #000000;z-index: 999;}
/*3131*/
/*2980 bug start*/
.high-contrast #CP_ThreeBGImagesWithCopy img.section-image{visibility:hidden;}
/*2980 bug End*/

/*2751*/
/*2811*/
#CP_SideMediaWithCopy_1_1 h6, #CP_SideMediaWithCopy_2_2 h6,#CP_SideMediaWithCopy_2_1 h6, #CP_SideMediaWithCopy_2_2 h6{
font-size: 15px;
line-height: 20px;
}
#CP_TopImage1ColWithCopy_1 h3,#CP_TopImage1ColWithCopy_1 h2{margin-bottom:0px;} 
#CP_TopImage1ColWithCopy_1 h2.c-heading-3{
  margin-bottom: 10px;  
}
/*2887*/
/*#CP_MediaCarouselWithCopy_1 a:focus{ outline: 1px dashed #000;}*/
/*2887*/
.slick-slider button:focus{outline:2px dashed #000;}
/*.light-background .slick-slider button:focus{outline:1px dashed #fff;}*/
.slickcarousel .btn-dark:focus{outline:1px dashed #fff !important;}
.slickcarousel .btn-light:focus{outline:1px dashed #000 !important;}
.slickcarousel .btn-dark button:focus{outline:1px dashed #fff;}
.slickcarousel .btn-light button:focus{outline:1px dashed #000;}
.light-background .slick-dots button:focus{outline:1px dashed #000;}
h4.fw-6{font-weight: 600;}

/* 3091 Start*/
a#selected-price{ 
  position:relative;
  color: #000;
  line-height:20px;
}

a#selected-price:after{
  content:'\E96E';
  position:absolute; 
  right:15px;
}
/*End */

/*2377 Bug*/
#CP_5Reasons_1 h6.fw-6{font-weight: 600;}
.pt-15-c{padding-top: 15px;} 

.image-tabs.tab-controls.tabs:focus{outline: 1px dashed #000 !important; }

.display-table-cell a{display:inline-block;vertical-align:bottom;}
/*3008 3021*/
#CP_AccordionWithFilter_1 a:focus {outline: 2px dashed #000;}
#CP_Accordion_1 button:focus{outline:2px dashed #000;}
#CP_Accordion_1 .expand-collapse-holder a:focus{outline:2px dashed #000;}
/*2650*/
/*#CP_HeroCarouselWithCopy_1 a:focus{outline : 2px dashed #999;}*/
.cp-side-media-with-copy > .dark-background a:focus{outline : 1px dashed #fff !important;}
#CP_SideMediaWithCopy_2_1 > .dark-background a:focus{outline : 1px dashed #fff !important;}
.cp-side-media-with-copy > .dark-background p a:focus{
  outline : 2px dashed #fff !important;
}

/*3324 Start*/
.panel-popup a.close-button:focus{outline: 1px dashed #000;}



/*3159 bug Start*/
.cp-top-image-col1-copy h3 {margin-bottom: 0px;}
/*3159 bug End */



/*3333 bug Start */
.cp-accordion-with-tabs .accordion .accordion-container .accordion-header:focus{outline: 1px dashed #000;}
/*3333 End */

/*2751 */

@media screen and (max-width: 539px)
{
.custom-popup-container .close-button {
       top: 0px;
    right: -7px;
    }


    
    
.dark-background .mobile-dark-background a.c-call-to-action.theme-transparent{color:#fff !important;}
div.mobile-light-background a.c-call-to-action.theme-transparent{color:#00579C !important}
div.xs-light-background a.c-call-to-action.theme-transparent{color:#005496 !important;}
/*bug 3687*/
#CP_FourReasons_1 .light-background .slick-slider button:focus{outline:1px dashed #000000 !important;}
/*bug 3752*/

.mobile-light-background a.c-call-to-action:focus{outline:1px dashed #000000;}

/*bug 3665*/
#CP_SubTab_Nav_1 a:focus{
 border: 2px dotted #000;
}

}


@media screen and (-ms-high-contrast: active) {  
  
  /*3257 Start */
 .main-content .slick-dots li.slick-active button:before{background-color:#fff;}
   /*3257 End */
   
 /*339525 Start */ 
#CP_SubTab_Nav_1 .active-tab a.mscom-link {
border: 1px solid #fff;
border-bottom-style: 1.5px solid #fff;
}

#CP_SubTab_Nav_1 .active-tab a.mscom-link:focus{
border: 3px dotted #fff;}

 /*339525 End */ 
  
 /*2840 Start*/      
.accordion .accordion-container .bg-down-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUU?ver=1f24');
}
.accordion .accordion-container .bg-right-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7l?ver=641c');
} 

.accordion .accordion-container .accordion-header{border: 1px solid #fff;}


.accordion .accordion-container .bg-down-arrow-black{ 
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUU?ver=1f24');
}
.accordion .accordion-container .bg-right-arrow-black{
background-image: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7l?ver=641c');
}

.accordion .accordion-container .accordion-header {border: 1px solid #fff;}

/* to avoid focus of bordered tab in high contrast mode */
.accordion a:focus{outline: none;} 

/*2840 End */

/* 2842 Start */
.cp-accordionwithfilter .cp-lefttab .cp-accordion-tab-list .tab-item.active .arrow-img {
border-color: transparent transparent transparent #fff;
} 

.cp-accordionwithfilter .cp-lefttab .cp-accordion-tab-list .tab-item .arrow-img{
border-color: transparent transparent transparent #00009F;
}



/* 2842 End */
.table-with-3col tr,.side-table-with-copy tr{
    border:1px solid white !important;
}
}
 /*343378*/
.high-contrast .accordion .accordion-container .bg-right-arrow-black,.high-contrast .accordion .bg-right-arrow-black{
		 background-image: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7l?ver=641c') !important; 
		 color:#FFF;
	}
	
.high-contrast .accordion .accordion-container .bg-down-arrow-black,.high-contrast .accordion .bg-down-arrow-black{
		 background-image: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUU?ver=1f24') !important;	
		  color:#FFF;
	} 
 
@media screen and (-ms-high-contrast: white-on-black) {
/*black*/
/* S manikanta accesibilty top50 fixes Starts */
  .dark-background a.c-call-to-action:focus,   .theme-dark a.c-call-to-action:focus{
       outline:2px dashed #fff !important;
   }
   .dark-background a.theme-default:focus {
       outline:2px dashed #fff !important;
  }
    a.theme-default.c-call-to-action:focus{
      outline:2px dashed #fff !important;   
   } 
   /* S manikanta accesibilty top50 fixes Ends */

#uhf-c-nav a.c-uhf-nav-link.current:focus{border: 1px dashed #fff;}
#CP_Hero_1Col_1_1.light-background .hero-content{
 background-color:#000 !important;
}
.main-table-container tr td.applybackground, .main-table-container fieldset img{
  background-color:#fff !important;
}
.cp-two-col-video .cp-col2-left div.applybackground, .cp-two-col-video .cp-col2-right div.applybackground{
   background-color:#fff !important;
}
.cp-RightNavTab .cp-righttab .active div.applybackground img{
  background-color:#fff !important;
}
a.open-popup-video.video-poster-link:after, a.open-inline-video.video-poster-link:after, a.open-popup-video-black.video-poster-link:after, a.open-inline-video-black.video-poster-link:after{
  background-image:url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE155Je?ver=ac61');
  width:45%;
  height:45%;
  top:42%;
  left: 6%;
} 

/* 345216*/
.cp-pricing-table-v1 .cp-pricing-table-container .cp-product-container .column-2 .cp-product .link-buttons a.c-call-to-action:focus{
  outline: 2px dashed #fff !important;
}

.main-content div a:not(.x-hidden-focus).c-call-to-action.theme-transparent:focus{
  padding-right: 24px;
  margin-bottom: 3px;
}
/*344414 */
#CP_Hero_1Col_1_1.dark-background .hero-content{
background:black !important
}
.cp-roadmap-v2 .roadmap-container .dropdown-area button:focus{
  border: none !important;
  outline: 2px solid yellow !important;
}
.cp-roadmap-v2 .dropdown-area .c-menu-item span[aria-selected=true]{
  border: 1px solid Yellow;
  background: #000;
} 
.cp-roadmap-v2 .dropdown-area .c-menu-item span[aria-selected=true]:focus{
  border: 1px dashed currentColor;
  background: #000;
}
.cp-roadmap-v2 .dropdown-area .c-menu{
  border-bottom:1px solid currentColor !important;
}
.cp-roadmap-v2 .clear-all-filters::after{
  margin-left: 6px !important;
}
.cp-roadmap-v2 .button-link-area a.mscom-link.theme-transparent{
  padding-right: 24px;
}
.cp-partner-data-filter .reset-area .btn-reset a.clear-all-filters:focus{
	padding-right: 10px !important;
}
#cp-image-tab-carousel .carousel-content h3,
.cp-image-tab-carousel .carousel-content .carousel-body,
#cp-image-tab-carousel .carousel-content a{
  background-color: #000 !important;

}
.cp-multiple-leftmediawithcopy .video-select.c-select .category-selector:focus, .cp-multiple-leftmediawithcopy .video-select.c-select .audience-selector:focus{
    outline:1px solid #ffffff;
}
#CP_BGImgWithCopyAndButtons_1 .heroContent .c-heading-3,
#CP_BGImgWithCopyAndButtons_1 .heroContent .relative-in-tablet p {
  background:#000;
}

#CP_BGImgWithCopyAndButtons_1 .heroContent p a.c-hyperlink{
    outline: none !important;
    text-decoration: none !important;
}
#CP_BGImgWithCopyAndButtons_1 .heroContent p a.c-hyperlink:focus{
    outline: 1px solid yellow !important;
}
.custom-popup-background a:focus{outline:1px dashed #fff;}
.filt .light-background a:after,.filt .dark-background a:after {
    content: "";
   background-image: url('/en-us/CMSImages/bg-arrow-right-white__New_w3Img.png?version=57bfe524-76e9-702b-812d-8a0c89d04297');}
  
.main-content .slick-dots li.slick-active button::before{
  background-color:#ffffff;
}
.cp_link_arrow_image {
    
    background-image: url(/en-us/CMSImages/CP_PSB_TOP_Arrow_Icon_New.png?version=cae78acc-aa3c-9420-7dd8-304d44660dda);
   
}
.CP-CircleGraphicsWithSlideText .circle.left-circle,.CP-CircleGraphicsWithSlideText .circle.right-circle{
  visibility: hidden;
}
.table-with-3col tr,.side-table-with-copy tr{
    border:1px solid white !important;
}
.table-with-3col,side-table-with-copy{
  border-collapse: collapse !important;
}
/*Bug 339115*/
.CP_3Vs4Vs5VsImages_1 .thumbnail-list .thumbnail-item a.open-popup-video:focus
{
  outline:1px dotted white;
}
/*Bug 339335*/
.cp-side-media-with-copy .display-table-cell a {
    outline: none !important;
}
.cp-side-media-with-copy .display-table-cell a:focus {
    outline: 1px dashed #fff !important;
}
/*Bug 341186*/
.hero-1-col .hero-content a.open-popup-video:focus{
  text-decoration: underline;
}
.livearea .c-paragraph-3 a.c-hyperlink:focus {
    outline: dashed 1px !important;
}
.livearea .l-col-12-24 .c-paragraph-3 a.mscom-link:focus {
    outline: dashed 1px !important;
}
#Default_SHARE_FollowUsToolbar ul li a:focus:before,
#Default_SHARE_FollowUsToolbar ul li a:hover:before,
#Default_SHARE_FollowUsToolbar ul li a:focus:after,
#Default_SHARE_FollowUsToolbar ul li a:hover:after{
  background: none; 
}
.main-content .hero-carousel-with-button .slick-dots li,
.main-content .hero-carousel .slick-dots li{
  background: #000;
}
.hero-carousel-with-button .slick-dots li button{
  margin: 0px 1px;
}
/*341171*/
.high-contrast.ie11-browser .accordion.v2 .accordion-container .bg-down-arrow-black{ 
background-image :none;
}
.high-contrast.ie11-browser .accordion.v2 .accordion-container .bg-right-arrow-black{
background-image: none;
}
/*346868*/
  .accordion.v2 .accordion-container .bg-down-arrow-black:after{
    font-family: "MWF-MDL2";
    content: '\E70D';
    color: #fff;
}
 
.accordion.v2 .accordion-container .bg-right-arrow-black:after{
            content: '\E70E';
            font-family: "MWF-MDL2";
            color: #fff;
} 
 /*Start CP_MWFHeroCarousel*/
.cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
	border: none;
	outline: none;
}

.cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor;
	outline: 1px dashed currentColor;
}
 /*End CP_MWFHeroCarousel*/
 #CP_StaticMenu ul li a.active{
  font-weight: bold !important;
}
#CP_StaticMenu ul li a{
 font-weight: normal !important;
}
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .carousel-wrapper .video-poster-link.open-popup-video:after{
  background-position: 1% 90% !important;
}
}

/*white*/
@media screen and (-ms-high-contrast: black-on-white) {
.cp_media_carousel_with_responsive.media-carousel-enable-navigation .carousel-wrapper .video-poster-link.open-popup-video:after{
  background-position: 1% 90% !important;
}
  .accordion.v2 .accordion-container .bg-down-arrow-black:after{
    font-family: "MWF-MDL2";
    content: '\E70D';
    color: #000;
}
 
.accordion.v2 .accordion-container .bg-right-arrow-black:after{
            content: '\E70E';
            font-family: "MWF-MDL2";
            color: #000;
} 
#uhf-c-nav a.c-uhf-nav-link.current:focus{border: 1px dashed #000;} 

:hov

.cls

.filt .light-background a:after,.filt .dark-background a:after {
    content: "";
    background-image: url('/en-us/CMSImages/bg-arrow-right-black_w3Img.png?version=5fa99672-232f-3c8c-340b-6881914b987b');}
  
   /*3257 Start */
 .main-content .slick-dots li.slick-active button:before{background-color:#000;}
   /*3257 End */
  .cp-multiple-leftmediawithcopy .video-select.c-select .category-selector:focus, .cp-multiple-leftmediawithcopy .video-select.c-select .audience-selector:focus{
    outline:1px solid #000000;
}
/*344414 */
#CP_Hero_1Col_1_1.dark-background .hero-content{
background:white !important
}
#cp-image-tab-carousel .carousel-content h3,
.cp-image-tab-carousel .carousel-content .carousel-body,
#cp-image-tab-carousel .carousel-content a{
  background-color: #fff !important;

}
/* S manikanta accesibilty top50 fixes Starts */
  .dark-background a.c-call-to-action:focus,   .theme-dark a.c-call-to-action:focus{
       outline:2px dashed #000 !important;
   }
   .dark-background a.theme-default:focus {
       outline:2px dashed #000 !important;
  }
    a.theme-default.c-call-to-action:focus{
      outline:2px dashed #000 !important;   
   } 
   /* S manikanta accesibilty top50 fixes Ends */
.main-content .hero-carousel-with-button .slick-dots li,
.main-content .hero-carousel .slick-dots li{
  background: #fff;
}
.hero-carousel-with-button .slick-dots li button{
  margin: 0px 1px;
}
#CP_HerocarouselWithButtons_1 .dark-background .text-content h1,#CP_HerocarouselWithButtons_1 .dark-background .text-content h2{
 background-color:#fff !important;
}
 .main-content .slick-dots li.slick-active button::before{
  background-color:#000000;
}
.cp_link_arrow_image {
    
    background-image: url(/en-us/CMSImages/CP_PSB_TOP_Arrow_Icon_New.png?version=cae78acc-aa3c-9420-7dd8-304d44660dda);
    background-position: 0px -400px !important;
}
/*2840 Start*/  
/*339525*/
#CP_SubTab_Nav_1 .active-tab a.mscom-link{
border: 1px solid #000;
border-bottom-style: 1.5px solid #000;
}
#CP_SubTab_Nav_1 .active-tab a.mscom-link:focus{
border:3px dotted #000;
}
/*339525*/
.table-with-3col,side-table-with-copy{
  border-collapse: collapse !important;
}
.table-with-3col tbody tr,.side-table-with-copy tr{
border:1px solid black !important;
}
 
 /* 345216*/
.cp-pricing-table-v1 .cp-pricing-table-container .cp-product-container .column-2 .cp-product .link-buttons a.c-call-to-action:focus{
  outline: 2px dashed #000 !important;
}
 
.accordion .accordion-container .bg-down-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENvIG?ver=34c0');
}
.accordion .accordion-container .bg-right-arrow-white{
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUT?ver=5981');
}
.accordion .accordion-container .accordion-header{border: 1px solid #000;}
.accordion .accordion-container .bg-down-arrow-black{ 
background-image : url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENvIG?ver=34c0');
}
.accordion .accordion-container .bg-right-arrow-black{
background-image: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENnUT?ver=5981');
}
.accordion .accordion-container .accordion-header {border: 1px solid #000;}

/*341171*/
.high-contrast.ie11-browser .accordion.v2 .accordion-container .bg-down-arrow-black{ 
background-image :none;
}
.high-contrast.ie11-browser .accordion.v2 .accordion-container .bg-right-arrow-black{
background-image: none;
}


/*2840 End */

/* 2842 Start */
.cp-accordionwithfilter .cp-lefttab .cp-accordion-tab-list .tab-item.active .arrow-img {
border-color: transparent transparent transparent #000;
} 

/*2842 End */
.CP-CircleGraphicsWithSlideText .circle.left-circle,.CP-CircleGraphicsWithSlideText .circle.right-circle{
  visibility: hidden;
}
/*2950 bug*/
.cp-side-media-with-copy .video-poster-link img{
  visibility:hidden;
}
a.open-popup-video.video-poster-link:after, a.open-inline-video.video-poster-link:after, a.open-popup-video-black.video-poster-link:after, a.open-inline-video-black.video-poster-link:after{
  background-image:url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE155Je?ver=ac61');
  width:50%;
  height:50%;
  top:20%;
  left: 25%;
}  
/*Bug 339115*/
.CP_3Vs4Vs5VsImages_1 .thumbnail-list .thumbnail-item a.open-popup-video:focus
{
  outline:1px dotted #000;
}
/*Bug 339335*/
.cp-side-media-with-copy .display-table-cell a {
	 outline: none !important;
}
.cp-side-media-with-copy .display-table-cell a:focus {
    outline: 1px dashed #000 !important;
}
/*Bug 339525 */
#CP_SubTab_Nav_1 a:focus{
  border: 2px dotted #000;
}

#CP_BGImgWithCopyAndButtons_1 .heroContent .c-heading-3,
#CP_BGImgWithCopyAndButtons_1 .heroContent .relative-in-tablet p {
  background:#fff;
}
#CP_BGImgWithCopyAndButtons_1 .heroContent p a.c-hyperlink{
    outline: none !important;
    text-decoration: none !important;
}
#CP_BGImgWithCopyAndButtons_1 .heroContent p a.c-hyperlink:focus{
    outline: 1px solid blue !important;
}
/*Bug 341186*/
.hero-1-col .hero-content a.open-popup-video:focus {
    text-decoration: UNDERLINE;
}
.livearea .c-paragraph-3 a.c-hyperlink:focus {
    outline: dashed 1px !important;
}
.livearea .l-col-12-24 .c-paragraph-3 a.mscom-link:focus {
    outline: dashed 1px !important;
}

#Default_SHARE_FollowUsToolbar ul li a:focus:before,
#Default_SHARE_FollowUsToolbar ul li a:hover:before,
#Default_SHARE_FollowUsToolbar ul li a:focus:after,
#Default_SHARE_FollowUsToolbar ul li a:hover:after{
  background: none; 
}
.cp-roadmap-v2 .dropdown-area .c-menu-item span[aria-selected=true]{
  border: 1px solid blue;
  background: #ffffff;
} 
.cp-roadmap-v2 .dropdown-area .c-menu-item span[aria-selected=true]:focus{
  border: 1px dashed currentColor;
  background: #ffffff;
}
.cp-roadmap-v2 .roadmap-container .dropdown-area button:focus{
  border: none !important;
  outline: 2px solid blue !important;
}
.cp-roadmap-v2 .dropdown-area .c-menu{
  border-bottom:1px solid currentColor !important;
}
.cp-roadmap-v2 .clear-all-filters::after{
  margin-left: 6px !important;
}
.cp-roadmap-v2 .button-link-area a.mscom-link.theme-transparent{
  padding-right: 24px;
}
.cp-partner-data-filter .reset-area .btn-reset a.clear-all-filters:focus{
	padding-right: 10px !important;
}
.main-content div a:not(.x-hidden-focus).c-call-to-action.theme-transparent:focus{
  padding-right: 24px;
  margin-bottom: 3px;
}

#CP_HerocarouselWithButtons_1 .dark-background .text-content h1,#CP_HerocarouselWithButtons_1 .dark-background .text-content h2,#CP_HerocarouselWithButtons_1 .dark-background .text-content p{
 background-color:#fff !important;
}

/*343886*/
#CP_Hero_1Col_1_1.dark-background .hero-content h1,#CP_Hero_1Col_1_1.dark-background .hero-content h2,#CP_Hero_1Col_1_1.dark-background .hero-content p,#CP_Hero_1Col_1_1.dark-background .hero-content{
 background-color:#fff !important;
}

#CP_HeroCarouselWithCopy_1 .theme-dark .text-content h1, #CP_HeroCarouselWithCopy_1 .theme-dark .text-content h2,#CP_HeroCarouselWithCopy_1 .theme-dark .text-content p{
  background-color:#fff !important;
}
.case-study .case-details .case-details-row .applybackground img{
  background-color: black;
}
.cp-side-media-with-copy .cp-col2-right .video-link.applybackground img{
  background-color: black;
}
a.open-popup-video.video-poster-link:after, a.open-inline-video.video-poster-link:after, a.open-popup-video-black.video-poster-link:after, a.open-inline-video-black.video-poster-link:after{
  background-image:url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE155Je?ver=ac61');
  width:45%;
  height:45%;
  top:42%;
  left: 6%;
} 
/*346868*/

 /*Start CP_MWFHeroCarousel*/
.cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
	border: none;
	outline: none;
}

.cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor;
	outline: 1px dashed currentColor;
}
 /*End CP_MWFHeroCarousel*/
#CP_StaticMenu ul li a.active{
  font-weight: bold !important;
}
#CP_StaticMenu ul li a{
 font-weight: normal !important;
}

/*end*/
}

/*Bug 3753--cortana--cortana-intelligence-suite-role-solutions*/
/*.cortana-6tabs.menu-container .main-menu-ul a:focus{
  border: 1px dotted #999;
}*/
.cortana-6tabs.menu-container .slick-slider .slick-prev:focus, .cortana-6tabs.menu-container .slick-slider .slick-next:focus{
  border: 1px dotted #999;
}

		
.main-content h3.mt-0:empty{display:none;}		
.main-table-container .ms-row .livearea p:empty{display: none;}		
.main-table-container div a.c-call-to-action.theme-transparent{padding-right: 0px;}
.main-content ul.slick-dots{z-index:10;}

.backtop-tooltip{
    display: none;
}

.static-tooltip,.static-tooltip2,.popup-tooltip,.popup-tooltip2{
    display: none;
}
.popup-tooltip.focustooltip{
    right: 9.5%;
    bottom: 2.5%;
    left: 82% !important;
    text-align: center;
}
.popup-tooltip2.focustooltip2{
    right: -37px;
    bottom: 2.5%;
    left: 97% !important;
    text-align: center;
}

.static-tooltip.focustitle{
    left: -109px !important;
    top: -18px;
}
.static-tooltip2.focustitle2{
    left: -135px !important;
    bottom:  -20px;
}
@media screen and (min-width:683px) and (max-width:683px){
    .static-tooltip.focustitle{
    left: -112px !important;    
}
.static-tooltip2.focustitle2{
    left: -136px !important;    
}
.fixed-support-links {
    
    top: 25% !important;
}

.popup-tooltip.focustooltip{
    right: 18% !important;
    left: 67% !important;
    bottom: 21px !important;
}
.popup-tooltip2.focustooltip2{
    left: 94% !important;
    bottom: 21px !important;
    right: -6% !important;
}
}
@media screen and (min-width:540px) and (max-width:1100px){
    .static-tooltip.focustitle{
    left: -112px !important;
    
}
.static-tooltip2.focustitle2{
    left: -136px !important;
    
}
/*.popup-tooltip.focustooltip{
    left: 66% !important;
    right: 20% !important;
    bottom: 21px !important;
}
.popup-tooltip2.focustooltip2{
    left: 97% !important;
    right: -7% !important;
    bottom: 21px !important;
}*/
}

.c-back-to-top:hover .backtop-tooltip,
.c-back-to-top:active .backtop-tooltip,
.c-back-to-top:focus .backtop-tooltip,
.static-tooltip.focustitle,
.static-tooltip2.focustitle2,
.popup-tooltip.focustooltip,
.popup-tooltip2.focustooltip2{
     display: block;
    border: #000 1px solid;
    font-size: 11px;
    padding: 0px 3px 0px 2px;
    z-index: 100;
    background-color: #fff;
    width: auto;
    white-space: nowrap;
    position: absolute;
    text-decoration: none;
    color: #000;
    left: -6px;
    }

/*3924 Start*/
#CP_SideImageWithCopy_1 .right-media a.mscom-link:focus{outline : 2px dotted #000 !important;}
/*3924 End*/

/*3873 bug Start */
.main-content .hero-carousel ul.slick-dots li.theme-dark.btn-dark button:before{
border : 1px solid rgba(255, 255, 255, 0.8);
}
.main-content .hero-carousel ul.slick-dots li.dark-background.btn-dark button:before{
border : 1px solid rgba(255, 255, 255, 0.8);
}

.main-content .hero-carousel ul.slick-dots li.btn-dark button:before{
border : 1px solid #000000;
}

.main-content .hero-carousel ul.slick-dots li.slick-active.theme-dark.btn-dark button:before{
background-color : #ffffff;
}

.main-content .hero-carousel ul.slick-dots li.dark-background.btn-dark.slick-active button:before{
background-color : #ffffff;
}

.hero-carousel .frame .text-content .half-text .links a.c-call-to-action.theme-transparent{
color: #0067BC ! important;
}

.hero-carousel .theme-dark .frame .text-content .half-text .links a.c-call-to-action.theme-transparent{
color: #fff ! important;
}

/*3873 bug End */
/*Accessibility fix*/

.hero-carousel .text-content .half-text .links a.open-popup-video:focus{
 text-decoration: underline;
}
.hero-carousel .text-content .half-text .links a.theme-dark.c-call-to-action:focus,
.main-content .hero-carousel div .half-text .links a.c-call-to-action.theme-dark:focus:hover:not(.x-hidden-focus){
    background-color: #ccc;
    color: #0078d7;
}
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:focus,
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:focus:hover{
    background-color: #333;
    color: #fff;
}
.hero-carousel .text-content .half-text .links a.theme-dark.c-call-to-action:hover{
border-color:#ccc;
}
.hero-carousel .text-content .half-text .links a.theme-light.c-call-to-action:hover{
border-color:#333;
}
/*Accessibility fix*/

/*4228 Start*/

#CP_LinkList_1 h3.pt-15-c, #CP_LinkList_1 h2.pt-15-c{padding-top:15px;}


/*4002 Start revrted changes 
#CP_HeroCarouselWithCopy_1 .light-bg-cs a.mscom-link {color : #006CC1;}
4002 End*/

/* 3954 Start*/
#CP_Hero_1Col_1_1 .livearea .hero-content p.color-cyan-300.fw-6{color:#0060AC !important;}
/* 3954 End*/
    
    
    
#CP_ThreeBGImagesWithCopy .light-background a.c-call-to-action.theme-transparent{
  color: #006CAA;
}    

#CP_Cortana_6Tabs_1.cortana-6tabs .inner-menu-ul li a:focus{outline: 2px dashed #000;}


 /*4696 bug fix*/
 #CP_Footer_1 .centervideo a:focus,
 #CP_TopImage2ColWithCopy_1 .top-image-2column-with-copyv1 p a.text-underline:focus{outline : 2px dotted #000;}
 #CP_SideImageWithCopyAndButton_1 .dark-background .right-text-column .desktop-image-buttons a.mscom-link:focus{outline: 1px dashed #000;}
 
 /*346226 */
#CP_TopImage2ColWithCopy_7 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_3 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_4 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_1 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_2 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_13 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_6 .f-w-400 strong.blue-text {
  font-weight:400 !important;
}
 /*346226 */
 
 
 /*338874 bug fix*/
 .accordion .accordion-main-panel .accordionpanel .right-content .button-holder {
    padding-top: 5px;
}
.accordion .accordion-container .accordion-main-panel {
    padding-left: 2px;
    padding-right: 2px;
}
.accordion .expand-collapse-holder{
  padding-right: 2px;
}   
/*339115 Bug Fix Start*/
.CP_3Vs4Vs5VsImages_1 .thumbnail-list .thumbnail-item
{
   padding-bottom: 2px;
}
/*339115 Bug Fix End*/
/*merged from Main*/
/*339335 Bug Fix Start*/
.cp-side-media-with-copy .bg-coolgrey .h6.color-cyan-300 {
    color: #005496 !important;
}
/*This change is made in reference to Bug 2811*/
#CP_SideMediaWithCopy_1_1 .c-heading-6{
font-size: 15px;
line-height: 20px;
font-weight: 600; 
margin-bottom: 0px;
}
#CP_SideMediaWithCopy_1_1 .c-heading-3, #CP_SideMediaWithCopy_1_2 .c-heading-3, #CP_SideMediaWithCopy_1_3 .c-heading-3
{
  margin-top:0px;
}
#CP_SideMediaWithCopy_1_2 .bg-cyan-300 .c-heading-6 {
    color: #fff !important;
}
#CP_SideMediaWithCopy_1_2 .bg-cyan-300 .c-heading-6, #CP_SideMediaWithCopy_1_3 .bg-coolgrey .c-heading-6 {
    font-weight: 600; 
    margin-bottom: 0px;
}
/*339335 Bug Fix End*/

/*339587 Bug Fix starts */
.cp-three-columns-with-copy.light-background .column .col-content p{
  color:#000000 ! important;
      font-weight: 200;
}
.cp-five-columns-with-copy.light-background .col-content p {
    color: #000000 ! important;
}
.cp-five-columns-with-copy.light-background .column .col-content a.c-call-to-action.theme-transparent, .hero-1-col .light-background ul a.c-call-to-action.theme-transparent{
  color: #0067B7;
}
.cp-five-columns-with-copy .bottom-content a.c-call-to-action{color: #fff;}
/*339587 Bug Fix ends */

/*  maintaince team added css start*/
@media screen and (max-width: 539px){

  /* #CP_Hero_1Col_1_1.bg-white .mobile-light-background .hero-content a.c-call-to-action:hover,
 #CP_Hero_1Col_1_1.bg-white .mobile-light-background .hero-content a.c-call-to-action:focus
  {
    border-color: #000000;
  }*/
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h1,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h2,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h3,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h4,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h5,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background h6,
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background p,{
    color: #000000;
}
.main-content #CP_Hero_1Col_1_1.bg-coolgrey .xs-light-background a.c-call-to-action.theme-transparent{
    color:#005496 !important;
}
}
/*end  maintaince team added css start*

/*Accessibility bug 339603 */
.cp-info-psb .light-background .cp-community-section-links a:link:focus
     {
outline: 2px dashed #000;
}
.cp-info-psb .dark-background .cp-community-section-links a:link:focus
     {
outline: 2px dashed #fff;
}
.cp_leftNavTab .right-content ul.tab-panel li a.accordion-header:focus{
  outline: 2px dashed #000;
  margin-top:2px; 
  margin-bottom: 2px;
}


/*Accessibility bug 339603 */
/*Accessibility bug 339588 */
.cp-image-tab-carousel .carousel-thumbnails .carousel-thumbnail-item:focus {
  border: 2px dashed;
  outline: none;
}
/*END Accessibility bug 339588 */

/*Accessibility bug 339640 */
.three-reasons-container .carouselslide .frame .text-container .c-heading-6.blue-text{
font-weight:600;
color: #0060C0;
}
/*END Accessibility bug 339640 */

/*Accessibility bug 339565 */

.cp-pageTitle div.roadmap ul.tab-list li a span {
      padding: 1em .2em .7em 0 !important; 
    text-align: center;
    display: inline-block;
}
/*339698*/
.cp-side-copy-columns .display-table-cell a{
outline: none ! important;
}
/*339698*/

/* 341796 date:2017-09-10 */
 

#CP_TopImageWithCopy_1.dark-background #coloumns a.cp_link_arrow_image:focus{
outline: 1px dashed #fff !important;
} 
#CP_TopImageWithCopy_1.light-background #coloumns a.cp_link_arrow_image:focus{
outline: 1px dashed #000 !important;
} 
#CP_SideImageWithCopyAndButton_1 .dark-background .right-text-column .desktop-image-buttons .image-button a:focus{
outline:1px dashed #fff;
}
.cp-psb .cp-info-psb .dark-background a.video-poster-link:focus{
outline:1px dashed #fff;
}
.cp-psb .cp-info-psb .light-background a.video-poster-link:focus{
 outline:1px dashed #000;
}
/*srikanth 341797*/
.cp-side-media-with-copy .bg-coolgrey .color-cyan-300 {
  color: #005496 !important;
}
.high-contrast #CP_BGImgWithCopyAndButtons_1 .heroContent div p{
color: #fff !important;
}
/*342850*/
 .cp-roadmap-v2 .searching-area button.search-button:-moz-focusring{
      border:1px dashed #000 !important;
  }
.high-contrast #Default_SHARE_FollowUsToolbar ul li a:focus:before,
.high-contrast #Default_SHARE_FollowUsToolbar ul li a:hover:before,
.high-contrast #Default_SHARE_FollowUsToolbar ul li a:focus:after,
.high-contrast #Default_SHARE_FollowUsToolbar ul li a:hover:after{
  background: none; 
}
/*343166*/
.custom-popup-container .social-popup-share li a:focus {
    outline: 2px dotted #999 !important;
}
/*343352*/
.main-content .cp-image-tab-carousel a.c-call-to-action.c-glyph:after{position: relative;}
/*srikanth 343296*/
.high-contrast.mozilla #CP_HerocarouselWithButtons_1 .dark-background .text-content h1, .high-contrast.mozilla #CP_HerocarouselWithButtons_1 .dark-background .text-content h2, .high-contrast.mozilla #CP_Hero_1Col_1_1.dark-background .hero-content,.high-contrast.mozilla .hero-carousel .theme-dark .text-content .half-text, .high-contrast.mozilla .hero-carousel .dark-background .text-content .half-text{
  background: currentColor;
}
.high-contrast.mozilla .main-content .hero-carousel-with-button .slick-dots li,
.high-contrast.mozilla .main-content .hero-carousel .slick-dots li{
  background: currentColor;
}
.high-contrast.mozilla .hero-carousel-with-button .slick-dots li button{
  margin: 0px 1px;
}


/*343776 srikanth*/
.mozilla.high-contrast a.open-popup-video.video-poster-link:after {
    
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1MLXD') !important;
    top: 64% !important;
    left: 0 !important;
    width: 26% !important;
    height: 50% !important;
}

.mozilla.high-contrast #CP_Hero_1Col_1_1.light-background .hero-content{
 background:currentColor;
}

/*343733*/
.image-tabs .ms-row.no-margin {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
#headerArea .c-uhfh .brand-orange a.c-call-to-action{
  margin-right: 2px;
}
.cortana-6tabs .tab-container .bg-coolgrey {
    padding-top: 2px;
}
.cp-sidevideo-with-copy .side-video-slick .slick-list .slick-track .caption-text a {
    margin-top: 2px !important;
}

.custom-popup-container .social-popup-share div {display: inline;}

/*343811*/
.mozilla.high-contrast .main-content .slick-dots li.slick-active button:before{
  outline: 1px solid black;
}
.mozilla.high-contrast .accordion .accordion-container .bg-right-arrow-black:before{
content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1PA7D') !important;
padding-right: 7%;
margin-left: -8%;
}
.mozilla.high-contrast .cp-accordion-with-tabs .accordion .accordion-container .bg-down-arrow-black:before{
content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1PA7A') !important;
padding-right: 7%;
margin-left: -8%;
} 
/*end*/
.social-popup-share{
text-align: right;
    margin: 0 auto;
    display: inline;
       padding-top: 8px;
}
.social-share{
    float: right;
}
.rtl .social-share {
    float: left;
}
.social-share span {
    padding-right: 4px;
}
#CP_3Reasons_1 ul.slick-dots,.cp_media_carousel_with_responsive .carousel-wrapper .slick-dots,cp-five-columns-with-copy  .carousel-wrapper .slick-dots{
  display: inline-block !important;
}
/*.mozilla.high-contrast .main-table-container tr td.applybackground,.mozilla.high-contrast .main-table-container fieldset img{
  background-color:#fff;
}*/

.main-content .hero-carousel .hero-carousel-slides.theme-dark a.c-call-to-action:focus{ outline: 2px dashed #fff !important;}
/* END */
.terms_and_conditions fieldset ul{list-style: none;}
.terms_and_conditions fieldset ul li{display: inline;}

/*346865*/
.cp-pricing-table-v1 .cp-feature-header a.c-call-to-action.theme-transparent {
    color: #0067B7 !important;
}
/*end*/
.main-content table .supText a.c-hyperlink{
  color: currentColor !important;
}
.high-contrast.ie11-browser .panel-popup .close-button:before {
    content: url('//img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RENt7m') !important;
}

.mozilla.high-contrast .accordion.v2 .accordion-container button.accordion-header:hover,.mozilla.high-contrast .accordion.v2 .accordion-container button.accordion-header:focus{
background: none !important 
 }   
 /*Start CP_MWFHeroCarousel*/
 .mozilla.high-contrast .cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle{
  border: none !important;
	outline: none !important;
}

.mozilla.high-contrast .cp-mwf-hero-carousel .m-hero .c-group button.c-action-toggle:focus{
	border: 1px dashed currentColor !important;
	outline: 1px dashed currentColor !important;
}
/*End Start CP_MWFHeroCarousel*/

 /*345351*/
.zh-tw .main-content .cp-side-media-with-copy span strong{
font-family:SegoeUI, "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif !important;

}
.zh-tw .main-content .case-study-col-with-links span strong{
 font-family: SegoeUI, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 
}
.rtl .main-content .case-study-col-with-links span strong{
 font-family: SegoeUI, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 
}
/*345351*/
#CP_TopImage2ColWithCopy_7 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_3 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_4 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_1 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_2 .f-w-400 strong.blue-text, #CP_TopImage2ColWithCopy_13 .f-w-400 strong.blue-text,#CP_TopImage2ColWithCopy_6 .f-w-400 strong.blue-text {
  font-weight:400 !important;
}
.main-content table .supText a.c-hyperlink{
  color: currentColor !important;
}

.cp-sidetablewithcopy .dark-background th{color: #fff;}


.cp-pricing-table-v1 .cp-pricing-table-container .sub-container h2 strong{
    font-size: 18px;
    line-height: 24px;
    font-family: wf_segoe-ui_light,wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;
}

@media screen and (max-width:768px){
   .cp-pricing-table-v1 .cp-pricing-table-container .sub-container h2 strong{
    font-size: 16px;
    line-height: 20px;
}
}
/*344418*/
.hero-1-col .hero-content ul li{float:left;}
.accordion .accordion-container .accordion-main-panel .accordionpanel .left-content a:focus{display: inline-block;}

/*uhf fix Srikanth*/
.js-cat-head .c-logo.current {
    background-color: #464646;
}

.sr-text {
  /*position: absolute;*/
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  }


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}