@model Microsoft.OneRenderFramework.Partner.MyPartner.HelloWorld.ViewModels.HelloWorldModuleViewModel

<div class="helloworld">
    <h1>@Model.Text</h1>
    <h2>@Model.Greeting</h2>
    @if (!Model.HideDescription)
    {
    <p>@Model.Description</p>
    }
    <p>(click here to fire js behavior)</p>
</div>