.cmwf-table img {
    cursor: pointer;
}

#CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap h1,
#CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap p {
    color: #fff;
}

#CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap .m-col-12-24.m-col-24-push-6 {
    padding-top: 0px;
}

#CP_AAD_Features_2to6Tab a {
    outline: none;
}

@media screen and (max-width:899px) and (min-width:768px) {
    #CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap h1 {
        font-size: 46px;
        line-height: 56px;
    }
    #CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap p {
        font-size: 18px;
    }
}

@media screen and (max-width:767px) {
    #CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap {
        position: static;
        transform: none;
    }
    #CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap h1,
    #CP_AAD_Features_2to6Tab .cmwf-hero-text-wrap p {
        color: #000;
    }
}

#CP_AAD_Features_2to6Tab .cmwf-2pillar {
    height: 300px;
}

#CP_AAD_Features_2to6Tab .cmwf-2pillar .cmwf-transform-middle {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#CP_AAD_Features_2to6Tab .cmwf-2pillar .cmwf-table {
    height: 100%;
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-2pillar .c-heading-3 {
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-2pillar .c-heading-3 {
    padding-left: 1vw;
}

@media screen and (max-width:767px) and (min-width:541px) {
    #CP_AAD_Features_2to6Tab .cmwf-2pillar.cmwf-gray-f7-bgc {
        height: 275px;
    }
    #CP_AAD_Features_2to6Tab .cmwf-2pillar .cmwf-table .ms-row .col-1-2 {
        width: 50%;
    }
    /*.cmwf-inner-menu-ul li{width: auto !important;}*/
}

@media screen and (max-width:540px) {
    #CP_AAD_Features_2to6Tab .cmwf-2pillar.cmwf-gray-f7-bgc {
        height: 320px !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-2pillar .cmwf-table .ms-row {
        text-align: center;
    }
}

#CP_AAD_Features_2to6Tab .cmwf-contact-us {
    height: 200px !important;
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-contact-us h3.white-c {
    color: #fff;
}

#CP_AAD_Features_2to6Tab .cmwf-contact-us a.c-call-to-action:after {
    margin-top: 0px;
}

#CP_AAD_Features_2to6Tab .cmwf-contact-us a.c-call-to-action,
#CP_AAD_Features_2to6Tab .cmwf-contact-us a.c-call-to-action:hover,
#CP_AAD_Features_2to6Tab .cmwf-contact-us a.c-call-to-action:focus,
    {
    background-color: #fff;
    color: #0078d7;
}

@media screen and (max-width:1069px) and (min-width:768px) {
    #CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-main-menu-ul {
        left: 0;
    }
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-menu-bg {
    background-color: #000;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-list.draggable {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    height: inherit;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-track {
    width: 9999px !important;
    height: inherit;
}

#CP_AAD_Features_2to6Tab .cmwf-gray-73-c {
    color: #737373;
}

#CP_AAD_Features_2to6Tab .cmwf-gray-f7-bgc {
    background-color: #f7f7f7;
}

#CP_AAD_Features_2to6Tab .cmwf-popup .mscom-popup .mscom-popup-layout {
    background-color: transparent !important;
}

#CP_AAD_Features_2to6Tab .cmwf-popup .mscom-popup .mscom-popup-content {
    width: 65%;
}

#CP_AAD_Features_2to6Tab .cmwf-popup .mscom-popup .mscom-popup-link {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    /*padding: 10px 40px 7px 24px;*/
    overflow: hidden;
    color: #0078D7;
    line-height: 1.3;
    text-decoration: none;
    letter-spacing: .2px;
    white-space: normal;
    margin-top: 10px;
}

#CP_AAD_Features_2to6Tab .cmwf-popup .mscom-popup .mscom-popup-link:hover {
    text-decoration: underline;
}

/*#CP_AAD_Features_2to6Tab .cmwf-menu-container .mscom-popup .mscom-popup-link:after,
#CP_AAD_Features_2to6Tab .cmwf-menu-container .mscom-popup .mscom-popup-link:hover:after{
    content:"\E76C";
    position: absolute;
    display: inline-block;
    margin-left: 6px;
    margin-top: 3px;
    vertical-align: top;
	font-size: 13px;
    font-weight: bold;
	font-family:MWF-MDL2;
}*/

#CP_AAD_Features_2to6Tab .cmwf-popup iframe {
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-mobile,
.cmwf-innermenu-mobile {
    display: none;
    cursor: pointer;
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul,
#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul {
    float: none !important;
    clear: both;
}

#CP_AAD_Features_2to6Tab .cmwf-table {
    display: table;
    width: 100%;
    height: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-valign {
    display: table-cell;
    vertical-align: middle;
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li p {
    color: #fff;
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li,
#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul li {
    float: left;
    cursor: pointer;
    height: inherit;
    outline: none;
}

/*.cmwf-inner-menu-ul li{
    white-space: nowrap;
}*/

#CP_AAD_Features_2to6Tab .cmwf-hero-image-wrap {
    background-color: #000;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul {
    height: 60px;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul li p {
    width: auto;
    display: inline-block;
    height: inherit;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-prev,
#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-next {
    background-color: transparent;
    border: none;
    visibility: visible;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-inner-menu-ul.slick-slider .slick-prev:before,
#CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-inner-menu-ul.slick-slider .slick-next:before {
    color: #737373;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-main-menu-ul.slick-slider .slick-prev:before,
#CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-main-menu-ul.slick-slider .slick-next:before {
    color: #fff;
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-prev:before {
    content: "\E76B";
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-next:before {
    content: "\E76C";
}

#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-prev:before,
#CP_AAD_Features_2to6Tab .cmwf-menu-container .slick-slider .slick-next:before {
    position: absolute;
    display: inline-block;
    margin-left: 0px;
    margin-top: -4px;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    font-family: MWF-MDL2;
    color: #fff;
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul {
    display: inline-block;
}

/**icons for industry page**/

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-1 .cmwf-menuimg {
    background-image: url(payloadGuid=22421602-7f9b-4b59-86bf-fcc9c32869a6);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-1.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=fc975b5b-c6c4-4338-a7e6-c5a889c7e044);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-2 .cmwf-menuimg {
    background-image: url(payloadGuid=b8326099-ce33-4f89-ae4c-3e09c08cf7f0);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-2.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=de1af700-551d-4a45-ab6f-bf06ea79080c);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-3 .cmwf-menuimg {
    background-image: url(payloadGuid=9b80b020-68e0-4a99-a613-e64b367c7f0b);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-3.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=41be0227-097c-4317-819a-a9cce830a21c);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-4 .cmwf-menuimg {
    background-image: url(payloadGuid=335f14e4-76f1-492f-9b98-d9329e94eb12);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-4.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=6915daf9-a5c8-4a0d-993f-d81b8231fd4e);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-5 .cmwf-menuimg {
    background-image: url(payloadGuid=55f1ab56-fdac-4dc3-95ba-19702da1b523);
}

#cmwf_cortana_industry .cmwf-main-menu-ul li#cmwf-menu-5.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=acd178a5-70f7-4a7d-8a45-8d757cd17385);
}

/**icons for role page**/

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-1 .cmwf-menuimg {
    background-image: url(payloadGuid=0923c9c7-84e0-43b1-95b1-7a15fe337ad8);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-1.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=66e4b068-f336-43bd-a8c9-e915ae5d274d);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-2 .cmwf-menuimg {
    background-image: url(payloadGuid=35f67d67-0f81-4391-9b12-53244bc65dfa);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-2.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=322a944e-0302-4a01-a287-b48d8f7889b0);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-3 .cmwf-menuimg {
    background-image: url(payloadGuid=87cd495f-db5c-4101-a8e8-637ea8f0e186);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-3.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=2886f2ee-5204-4f25-82a7-1bc377a86fb6);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-4 .cmwf-menuimg {
    background-image: url(payloadGuid=663d6a04-c2d7-47f2-9ab5-0fc44b5e9f91);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-4.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=4496441f-3985-4856-a864-eac693a496cd);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-5 .cmwf-menuimg {
    background-image: url(payloadGuid=ccb224f1-37b2-4c7b-afc0-e18b51c0879d);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-5.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=717d8138-73c9-4149-aa7f-2c055f6af132);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-6 .cmwf-menuimg {
    background-image: url(payloadGuid=10b9490c-09d7-40ef-a2c2-6554f0566d37);
}

#cmwf_cortana_role .cmwf-main-menu-ul li#cmwf-menu-6.cmwf-current .cmwf-menuimg {
    background-image: url(payloadGuid=53146a0e-e5df-4c73-afbb-fd6e45045424);
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li .cmwf-menuimg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul li .cmwf-table {
    width: auto;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul li.cmwf-current .cmwf-table {
    border-bottom: 4px solid #00bcf2;
}

#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li.cmwf-current .arrow-up {
    visibility: visible;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

#CP_AAD_Features_2to6Tab .cmwf-activeTab,
#CP_AAD_Features_2to6Tab .cmwf-current {
    display: block !important;
}

#CP_AAD_Features_2to6Tab .cmwf-tab-content {
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-tab-content,
#CP_AAD_Features_2to6Tab .cmwf-menu-mobile,
#CP_AAD_Features_2to6Tab .cmwf-innermenu-mobile {
    display: none;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-tab-container {
    width: 100%;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-tab-container a.blue-text {
    color: #0078D7 !important;
}

#CP_AAD_Features_2to6Tab .cmwf-inner-tab-container a:hover {
    text-decoration: underline;
}

#CP_AAD_Features_2to6Tab .cmwf-table .m-col-12-24.cmwf-valign {
    padding-top: 0px;
}

#CP_AAD_Features_2to6Tab .cmwf-table .m-col-12-24.cmwf-valign img {
    width: 100%;
}

@media screen and (max-width:899px) and (min-width:768px) {
    #CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-inner-menu-ul {
        height: 75px;
    }
}

@media screen and (min-width:540px) and (max-width:767px) {
    #cmwf_cortana_role .cmwf-menu-container .cmwf-main-menu-ul li {
        height: 70px;
    }
    #cmwf_cortana_industry .cmwf-menu-container .cmwf-main-menu-ul li {
        height: 115px;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-inner-menu-ul {
        height: 90px;
    }
}

@media screen and (max-width:539px) {
    #CP_AAD_Features_2to6Tab .cmwf-menu-container .cmwf-main-menu-ul {
        height: 70px;
    }
}

@media screen and (max-width:767px) {
    #CP_AAD_Features_2to6Tab .cmwf-table .m-col-12-24.cmwf-valign {
        text-align: center;
    }
    /*#CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li p{padding: 25px 0;}*/
    #CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li .cmwf-menuimg {
        display: none;
    }
    /*.cmwf-inner-menu-ul li p{height: auto;}*/
    /*.cmwf-main-menu-ul li p{color:#000;bottom: 18px;}*/
    #CP_AAD_Features_2to6Tab .cmwf-menu-ul {
        height: auto;
    }
    #CP_AAD_Features_2to6Tab .cmwf-popup .mscom-popup .mscom-popup-content {
        width: 90%;
    }
    /*.cmwf-main-menu-ul li,
	  .cmwf-inner-menu-ul li{height: 40px; width: 33%;float: none !important;margin: 0 auto;}*/
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-6 {
        width: 16.66667%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-5 {
        width: 20%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-4 {
        width: 25%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-3 {
        width: 33.33333%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-2 {
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-6 {
        width: 16.66667%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-5 {
        width: 20%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-4 {
        width: 25%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-3 {
        width: 33.33333%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul li.col-1-2 {
        width: 50%;
    }
    #CP_AAD_Features_2to6Tab .cmwf-main-menu-ul li {
        height: 115px !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-main-menu-ul,
    #CP_AAD_Features_2to6Tab .cmwf-inner-menu-ul {
        display: block !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-table .m-col-12-24.cmwf-valign {
        float: none;
    }
    /*.cmwf-inner-menu-ul li{width: auto !important;}*/
}

@media screen and (min-width:1070px) {
    #CP_AAD_Features_2to6Tab .cmwf-menu-bg .ms-row {
        width: 90%;
        margin: 0 auto;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul.m-col-20-24 {
        width: 83.33333% !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul.m-col-16-24 {
        width: 66.66667% !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul.m-col-12-24 {
        width: 50% !important;
    }
    #CP_AAD_Features_2to6Tab .cmwf-menu-container ul.m-col-8-24 {
        width: 33.33333% !important;
    }
}

body {
    -ms-overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        overflow: hidden;
    }
}
